<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>Mais Locações</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>

<div class="container">
    <div class="row">
        <table width="100%" border="1">
            <tr>
                <td width="80%" style="text-align: center;"><table>
                    <tr>
                        <td width="25%"><img src="https://locacoes.herokuapp.com/static/app/img/logo-spagnol.PNG"></td>
                        <td width="75%">&nbsp;<h2>Spagnol Locação de Container</h2>
                            <h3>Rua XV de Novembro, 341 - Centro - Rincão</h3>
                            <h3>CNPJ:33.019.306/0001-49</h3>
                            <h3>I.E.:585.016.550.114</h3></td>
                    </tr>
                </table>
                <td width="20%">
                    <table border="1">
                        <tr>
                            <td><br>&nbsp;&nbsp;Emissão</td>
                            <td><br>&nbsp;&nbsp;{{ work.crated_date|date:'d/m/Y' }}</td>
                        </tr>
                        <tr>
                            <td><br>&nbsp;&nbsp;Vencimentos</td>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><br></td>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><br></td>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><br>&nbsp;&nbsp;Devolução</td>
                            <td><br>&nbsp;&nbsp;{{ work.end_date|date:'d/m/Y' }}</td>
                        </tr>
                    </table>
                </td>
            </tr>


        </table>
        <br>
        <table class="table" style="font-size: 14px">
            <tbody>
            <tr>
                <td><b>Nome</b></td>
                <td></td>
            </tr>
            <tr>
                <td>{{ work.customer.corporate_name }}</td>
                <td></td>
            </tr>
            <tr>
                <td><b>CPF/CNPJ</b></td>
                <td><b>RG/I.E.</b></td>
            </tr>
            <tr>
                <td>{{ work.customer.cnpj }}</td>
                <td>{{ work.customer.state_registration }}</td>
            </tr>
            <tr>
                <td><b>Endereço</b></td>
                <td><b>Bairro</b></td>
            </tr>
            <tr>
                <td>{{ work.customer.address }}, {{ work.customer.address_number }}</td>
                <td>{{ work.customer.neighborhood }}</td>
            </tr>
            <tr>
                <td><b>Cidade</b></td>
                <td><b>CEP</b></td>
            </tr>
            <tr>
                <td>{{ work.customer.city }}</td>
                <td>{{ work.customer.cep }}</td>
            </tr>
            <tr>
                <td><b>Endereço da Obra</b></td>
                <td><b>Fone</b></td>
            </tr>
            <tr>
                <td>{{ work.address }}, {{ work.address_number }}</td>
                <td>{{ work.customer.phone }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table" border="1" style="font-size: 14px">
            <tbody>
            <tr style="height: 25px;margin-left: 0.2em">
                <td colspan="4" align="center"><b>DISCRIMINAÇÃO DAS LOCAÇÕES</b></td>
            </tr>
            <tr style="height: 25px;margin-left: 0.2em">
                <td><b>Produto</b></td>
                <td><b>QTDE</b></td>
                <td><b>R$ UNIT</b></td>
                <td><b>R$ TOTAL</b></td>
            </tr>
            {% for p in work.get_products %}
            <tr style="height: 25px;margin-left: 0.2em">
                <td>{{ p.product.desc }}</td>
                <td>1</td>
                <td>{{ p.value }}</td>
                <td>{{ p.value }}</td>
            </tr>
            {% endfor %}

            <tr style="height: 25px;margin: 0.2em">
                <td colspan="3" align="right" style="margin-top: 1em;"><b>TOTAL</b></td>
                <td>R$ {{ work.month_value }}</td>
            </tr>
            </tbody>
        </table>
        <p align="right">Operação não sujeita a Nota Fiscal de serviço nos termos da lei complementar 116/2003 de 01/08/2003</p>
        <table border="1" style="font-size: 14px;">
            <TR style="height: 25px;margin-left: 0.2em">
                <TD colspan="2" class="tr1 td12"><b>Nota Promissória</b></TD>
                <TD colspan="2"><b>Valor</b></TD>
                <TD colspan="3"><b>Vencimento</b></TD>
            </TR>
            <TR style="height: 25px;margin-left: 0.2em">
                <TD colspan="2"><P class="p0 ft3">Nº {{ work.id }}</P></TD>
                <TD colspan="2"><P class="p16 ft3">R$ {{ work.get_products_value }}</P></TD>
                <TD colspan="3"><P class="p3 ft3">{{ work.crated_date|date:'d/m/Y' }}</P></TD>
            </TR>
            <TR style="height: 70px;margin-left: 0.2em">
                <TD colspan="7" style="font-size: 14px;">Declaro em {{ work.crated_date|date:'d/m/Y' }} que pagarei por esta NOTA PROMISSÓRIA à Spagnol Locação de Container, CNPJ:33.019.306/0001-49 ou a sua ordem a quantia de R${{ work.get_products_value }} em moeda corrente deste país, pagável em Américo Brasiliense/SP.</TD>
            </TR>

            <tr>
                <td colspan="7">
                    <table style="height: 30px;margin-left: 0.2em">
                        <tr >
                            <td colspan="4"><b>Emitente:</b> {{ work.customer.corporate_name }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>CPF/CNPJ:</b> {{ work.customer.cnpj }}</td>
                            <td colspan="2"><b>RG/I.E.:</b> {{ work.customer.state_registration }}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>Endereço:</b> {{ work.customer.address }}, {{ work.customer.address_number }}</td>
                            <td>{{ work.customer.neighborhood }}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>Cidade:</b> {{ work.customer.city }}</td>

                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right" style="height: 30px;margin-right: 0.2em">Concordo com os termos da promissória acima</td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ work.customer.corporate_name }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br/>
        <table width="100%">
            <tr width="100%">
                <td width="100%" style="text-align: center">
                    <p  width="100%"><h1>Declaração</h1></p>
                </td>
            </tr>
        </table>
        <table border="1">
            <tr width="100%" style="height: 90px;margin-left: 0.2em">
                <td  colspan="7" width="100%" style="text-align: center">
                    <p  width="100%">O LOCATÁRIO recebe neste ato o(s) equipamento(s) referido(s) no presente instrumento, declarando te-lo(s) testado(s) e aprovado(s) previamente e afirmando que o(s) mesmo(s) se encontra(m) em perfeito estado de funcionamento. Limpeza e segurança. Pelo que se o- briga a devolve-lo(s), ao final da locação e/ou da recisão desse contrato, em idênticas condições de funcionamento, limpeza e segurança. Declara ainda, que entende detalhadamente da sua correta utilização e que fará uso de todos os equipamentos de proteção necessários para a utilização do(s) mesmo(s). Declara que recebeu instrução do(s) equipamento(s) locado(s) e sua segurança compromete-se a repassa-las a quem for manusear o(s) equipamento(s).</p>
                </td>
            </tr>
            <tr style="height: 50px;margin-left: 0.2em">
                <td colspan="2" style="text-align: center"><b>Data Retirada</b><br>_____/_____/_____</td>
                <td colspan="2" style="text-align: center"><b>Hora Saída</b><br>______:______</td>
                <td colspan="3" style="text-align: center"><b><br>____________________________________________</b><br>{{ work.customer.corporate_name }}</td>
            </tr>

        </table>
        <br/>
        <table width="100%">
            <tr width="100%">
                <td width="100%" style="text-align: center">
                    <p  width="100%"><h1>Recebi o(s) produto(s) descritos acima:</h1></p>
                </td>
            </tr>
        </table>
        <table border="1">
            <tr style="height: 70px;margin-left: 0.2em">
                <td colspan="3"><p style="text-align: center">_____/_____/_____</p></td>
                <td colspan="3"><p style="text-align: center">Identificação do Recebedor: </p><br/></td>
                <td colspan="3" style="text-align: center"><p style="text-align: center"> FATURA Nº.:  </p><p style="font-size: 16px">{{ work.id }}</td>
            </tr>
        </table>

        <table>
            <tr style="height: 70px">
                <td><p style="text-align: center;font-size: 12px">PRECISOU, LIGOU, LOCOU! RAPIDO, SIMPLES E FACIL!</p></td>
                <td><p style="text-align: center;font-size: 12px;margin-bottom: 0"><b>(16)99711-0308 RAFAEL<br>(16)99756-5605 PAULO</b></p><br/></td>
            </tr>
        </table>
        <br>
        <table width="100%">
            <tr width="100%">
                <td width="100%" style="text-align: center">
                    <p  width="100%"><h1>CONTRATO DE LOCAÇÃO DE BENS MÓVEIS Nº {{ work.id }}</h1></p>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr width="100%">
                <td width="100%" style="text-align: left;font-size: 13px">
                    <p  width="100%">PELO PRESENTE INSTRUMENTO DE CONTRATO QUE TEM DE UM LADO COMO LOCADORA, À EMPRESA: Spagnol Locação de Container estabelecida na Rua 15 de Novembro, 341 - Centro - Rincão/SP CNPJ 33.019.306/0001-49 e IE 585.016.550.114 por seu representante legal infra-assinado, e do outro lado,
                        como LOCATÁRIO o Sr(a) <b>{{ work.customer.corporate_name }} </b><b>CPF/CNPJ:</b> {{ work.customer.cnpj }} - <b>RG/I.E.:</b> {{ work.customer.state_registration }} - <b>Endereço:</b> {{ work.customer.address }}, {{ work.customer.address_number }} - {{ work.customer.neighborhood }}<b> Cidade:</b> {{ work.customer.city }}</p>
                </td>

            </tr>
            <tr >
                <td><br>De comum acordo, fica contratado uma locação de bens móveis, a ser regida pelas seguintes cláusulas:<br></td>
            </tr>
            <tr>
                <td style="font-size: 13px">1) Do Objeto da Locação: A LOCADORA aluga e LOCATARIA os bens móveis de sua propriedade, descritos abaixo, para uso exclusivo na obra: <b>{{ work.address }}, {{ work.number }} - {{ work.neighborhood }} - {{ work.city }}</b></td>
                <td></td>
            </tr>
        </table>
        <table class="table" border="1" style="font-size: 14px">
            <tbody>
            <tr style="height: 25px;margin-left: 0.2em">
                <td colspan="4" align="center"><b>EQUIPAMENTOS LOCADOS</b></td>
            </tr>
            <tr style="height: 25px;margin-left: 0.2em">
                <td><b>Produto</b></td>
                <td><b>QTDE</b></td>
                <td><b>R$ UNIT</b></td>
                <td><b>R$ TOTAL</b></td>
            </tr>
            {% for p in work.get_products %}
            <tr style="height: 25px;margin-left: 0.2em">
                <td>{{ p.product.desc }}</td>
                <td>1</td>
                <td>{{ p.value }}</td>
                <td>{{ p.value }}</td>
            </tr>
            {% endfor %}

            <tr style="height: 25px;margin: 0.2em">
                <td colspan="3" align="right" style="margin-top: 1em;"><b>TOTALIZANDO</b></td>
                <td>R$ {{ work.month_value }}</td>
            </tr>
            </tbody>
        </table>
        <table width="100%">
            <tr style="height: 25px;margin-left: 0.2em">
                <td width="100%" style="text-align: left;font-size: 12px">
                    <p  >Obs: O equipamento deverá ser entregue limpo, ou acarretará multa de 30% no valor da locação.</p>
                </td>

            </tr>
        </table>
            <p width="100%" style="font-size: 14px"><br>2º) DO PRAZO DE LOCAÇÃO: o prazo da presente locação é de: 30 dia(s) a começar na data descrita ao cabeçalho e terminar na data descrita no mesmo. Findo esse prazo e continuando a LOCATÁRIA de posse dos equipamentos sem oposição da LOCADORA, considerar-se-á prorrogada a locação por indeterminadas vezes de igual período acima, independente
de aviso desta última. Fica convencionado e acertado pelos contratantes que as notas fiscais emitidas referentes a prorrogação deste contrato, bem como as decorrentes de manutenção, Substituição de peças ou Equipamentos Locados de que trata a cláusula 10 do presente contrato, serão enviadas pelo correio, isentando totalmente a assinatura do canhoto, uma vez que o equipamento objeto do presente contrato, encontra-se em poder da LOCATÁRIA. Findo o prazo contratado, pretendendo encerrar total ou parcialmente a locação, a LOCATÁRIA deverá comunicar por escrito com antecedência mínima de 02(dois) dias, mesmo que a retirada tenha sido contratada com a LOCADORA. Será considerado como período corrido de locação o tempo em que o equipamento avariado estiver nas dependências da LOCADORA aguardando aprovação de orçamento pela LOCATÁRIA.<br><br>
3º) DO PREÇO DA LOCAÇÃO: O preço da locação é o ja descrito acima, para o período descrito na cláusula 2. A LOCADORA se reserva no direito de alterar os preços da presente locação quando houver defasagens significativas entre os reajustes aplicados e a variação de seus custos, devendo neste caso comunicar com antecedência mínima de 10(dez) dias à LOCATÁRIA os novos preços. PARAGRAFO ÚNICO - O preço da locação de que trata o caput desta cláusula nos casos de equipamentos cujo uso seja medido por horímetros, limitar-se-á a 8 horas diárias, sendo cobrado a hora excedente.<br><br>
4º) DAS CONDIÇÕES DE PAGAMENTO: O pagamento da locação ora acordado será feito de forma antecipada, podendo a critério da LOCADORA ser pago no prazo máximo de 28 (vinte e oito) dias após o início de cada período de locação. PARAGRAFO ÚNICO - A falta de pagamento nos prazos pactuados, sujeita a LOCATÁRIA ao pagamento de juros legais, correção monetária vigente no período, despesas de cobrança, bem como o pagamento de multa de 5% (cinco por cento) sobre o valor do débito devidamente corrigido.<br><br>
5º) DA UTILIZAÇÃO DOS EQUIPAMENTOS: A LOCATÁRIA se obriga a utilizar os equipamentos exclusivamente por meio de pessoas capacitadas, para as finalidades que lhe são próprias, responsabilizando-se inclusive pelo mal-uso. PARAGRAFO ÚNICO - Cabe a LOCATÁRIA manter os equipamentos protegidos contra as intempéries, contra a possibilidade de danos e extravios, comunicando imediatamente a Locadora, por escrito qualquer defeito ou avaria nos equipamentos.<br><br>
6º) DO ESTADO DE CONSERVAÇÃO DOS EQUIPAMENTOS: Os equipamentos objetos da presente locação encontram-se em perfeito estado de conservação e funcionamento, fato que a LOCATÁRIA expressamente reconhece, bem como declara neste ato ter acompanhado o teste e recebido todas as instruções de uso, operação, manutenção preventiva e corretiva pertinentes ao equipamento locado.<br><br>
7º) DO TRANSPORTE DOS EQUIPAMENTOS: A LOCATÁRIA se incumbirá, por sua conta e risco, do transporte<br><br>
dos equipamentos locados, responsabilizando-se pelos mesmos desde a sua retirada até a sua efetiva devolução nas dependências da LOCADORA.
8º) DA MONTAGEM E DESMONTAGEM DOS EQUIPAMENTOS LOCADOS: A montagem e a desmontagem dos equipamentos locados, serão de responsabilidade da LOCATÁRIA.<br><br>
Os equipamentos locados poderão a critério da LOCADORA, serem vistoriados na obra, periodicamente, para se verificar sua condição de uso e funcionamento
Se a locadora entender que deve ser efetuada a manutenção dos mesmos para garantir a segurança e qualidade de seu funcionamento, a LOCATÁRIA deverá liberar de imediato os equipamentos sujeitos a essa manutenção, trabalho esse que a locadora efetuará nas dependencias da obra se possível. Os serviços executados, serão cobrados de acordo com a tabela "ASSISTENCIA TECNICA" da LOCADORA em vigor na época, e faturados para pagamento para no máximo 28(vinte e oito) dias
após o termino da manutenção.<br><br>
9º) MÁQUINAS COM MOTORES A DIESEL E A GASOLINA: As máquinas cujo funcionamento seja indispensável a utilização de tais combustíveis, estes ficam por conta da LOCATÁRIA, a qual se obriga a abastecer os equipamentos com o necessário ao seu consumo, observando sempre a qualidade dos mesmos.<br><br>
10º) DA MANUTENÇÃO E SUBSTITUIÇÃO DAS PEÇAS E DOS EQUIPAMENTOS LOCADOS: É obrigação da LOCATÀRIA manter os equipamentos em bom estado de conservação e funcionamento conforme lhes forem entregues, pois se constatar mal-uso do equipamento, a manutenção e substituição de peças referidas deverão ser executadas pela LOCADORA, ficando a LOCATÁRIA neste caso, responsável pelo pagamento dos serviços prestados e das peças que lhe foram substituídas;<br><br>
-O preço dos serviços prestados e das peças substituídas pela LOCADORA, conforme constante do parágrafo anterior, será o da tabela da LOCADORA em vigor na data da realização desses serviços ou da substituição das peças.<br>
-Na ocasião da devolução de equipamentos, tanto aqueles retirados na Obra da LOCATÁRIA, como aqueles devolvidos nas dependências da LOCADORA, os mesmos serão vistoriados pela LOCADORA, lavrando-se Ordem de Serviço das irregularidades visíveis, sem prejuízo da apuração de outras em vistoria posterior mais detalhada.
-As avarias encontradas nas formas desta cláusula serão comunicadas à LOCATÁRIA, com o custo de reparo e prazo de 03 (três) dias úteis para manifestação. Findo este prazo, os débitos referentes a tais avarias e consertos serão faturados com prazo de 28 (vinte e oito) dias para pagamento, sendo as Notas Fiscais enviadas a LOCATÁRIA via correio, na forma da cláusula 2, parágrafo 1º do presente contrato.<br>
-Em nenhuma hipótese a LOCADORA se responsabilizará por qualquer interrupção ou paralisação de atividades da LOCATÁRIA em decorrência de defeito ou quebra dos equipamentos. Em tais casos a responsabilidade da LOCADORA limita-se à substituição dos equipamentos, na forma em forma prevista no 1º parágrafo desta cláusula, excluindo-se expressamente qualquer reivindicação por perdas e danos decorrentes desses eventos.<br>
11º) DA RESPONSABILIDADE DOS ACIDENTES CAUSADOS COM A UTILIZAÇÃO DOS EQUIPAMENTOS<br>
LOCADOS: Quaisquer acidentes ocorridos com equipamentos locados, ou por eles causados inclusive à terceiros, desde sua retirada até a sua efetiva devolução e recebimento, serão de exclusiva responsabilidade da LOCATÁRIA, ficando a LOCADORA excluída de quaisquer responsabilidades civis, criminais, trabalhistas ou outras.<br><br>
12º) DA DEVOLUÇÃO DOS EQUIPAMENTOS: findo o prazo da locação, a LOCATÁRIA deverá devolver os equipamentos locados descritos na cláusula primeira no estabelecimento da LOCADORA.<br>
-Caso os equipamentos locados sejam retirados pela LOCADORA, esta cobrará o preço do transporte e locomoção conforme tabela de preços vigente na época, observando-se as condições estabelecidas na clausula 2.<br>
-Na ocasião da devolução, os equipamentos serão vistoriados pela LOCADORA e está, no ato da devolução, fará os respectivos relatórios das quantidades e condições dos equipamentos.<br>
-Qualquer irregularidade, peça faltante, quebra ou desgaste que não de uso normal dos equipamentos, será apontado no relatório mencionado no parágrafo anterior, que deverá ser assinado pela pessoa que faz acompanhar a devolução dos equipamentos, o que desde já deixa reconhecido.<br><br>
13º) DO EXTRAVIO OU DANIFICAÇÃO TOTAL DOS EQUIPAMENTOS: Havendo extravio ou danificação total de equipamentos locados, a LOCATÁRIA se responsabilizará pelo seu pagamento, cujo preço será o constante da tabela de preços da LOCADORA em vigor na data da constatação.<br><br>
14º) DA TRIBUTAÇÃO: Por se tratar o presente contrato de Locação de Bens Móveis não há incidência de imposto sobre serviço (ISS), conforme Lei Federal 116 de 31/07/2003<br><br>
15º) DA PROIBIÇÃO DE SUBLOCAÇÃO, EMPRÉSTIMO OU ARRENDAMENTOS DOS EQUIPAMENTOS<br>
LOCADOS: A LOCATÁRIA, não poderá em hipótese alguma sublocar, emprestar ou arrendar os equipamentos constantes do presente contrato, ou por qualquer forma, ceder seu uso a terceiros, ainda que a título gratuito.<br><br>
16º) DA TRANSFERÊNCIA DE LOCALIZAÇÃO DOS EQUIPAMENTOS: As transferências de localização dos equipamentos deverão ser comunicadas à LOCADORA no prazo de até 03 (três) dias e somente com autorização expressa da mesma poderá ser efetuada a transferência.<br><br>
17º) IDENTIFICAÇÃO: Fica a LOCADORA autorizada a colocar sua placa identificativa no equipamento locado.<br><br>
18º) DA RESCISÃO DO CONTRATO: O presente contrato poderá ser rescindido nos seguintes casos:<br><br>
a)Pela falta de pagamento das locações contratados;<br>
b)Havendo ajuizamento de pedidos de falência contra a LOCATÀRIA, ou de concordata preventiva, ou ainda na efetivação de quaisquer dessas ocorrências;<br>
c)Se houver descumprimento de quaisquer cláusulas desse contrato:<br>
-Ocorrendo quaisquer das hipóteses referidas nas alíneas "a", "b" e "c", desta cláusula, poderá a Locadora valer-se do disposto no art. 502 Código Civil, retirando por seus próprios meios e condições os equipamentos locados, onde quer que estejam, independentemente de quaisquer avisos, notificação ou interpelação judicial, e ainda sem nenhuma formalidade.<br>
-Toda despesa desembolsada pela LOCADORA para transporte dos equipamentos, no caso do parágrafo anterior, será debitada para a LOCATÁRIA.<br><br>
19º) DA ACEITAÇÃO: A não devolução do contrato assinado, no período de cinco dias, implicará na aceitação, pela LOCATÀRIA, de todas as cláusulas do referido contrato, pois o mesmo foi encaminhado junto a nota fiscal de simples remessa, e assinado por testemunha que retirou o equipamento.<br><br>
20º) MULTA CONTRATUAL: Fica estabelecida uma multa contratual no valor de 10% (dez por cento) do valor total dos equipamentos locados pelo presente contrato, para qualquer parte que descumprir as cláusulas acima pactuadas, ao preço da tabela vigente na data da infração, para pagamento no prazo de trinta dias daquela data.<br><br>
21º) DA ELEIÇÃO DO FORO: fica eleito o foro desta comarca, para dirimir quaisquer divergências provenientes do presente contrato com renúncia expressa a quaisquer outros por mais privilegiados que sejam. E por estarem justos e contratados, assinam o presente em 06 (seis) vias de igual teor e forma.<br><br>
22º) Em caso de arrombamento e/ou abertura indevida do container, a locadora não se responsabiliza pelos produtos, materiais e equipamentos guardados dentro do container, isentando assim a locadora de quaisquer indenisações.<br></p>
    <br><br><br>
    <table >
        <tr width="100%" style="margin-left: 0.2em">
            <td width="5%" style="text-align: center">
            </td>
            <td width="40%" style="text-align: center"><hr>
            </td>
            <td  width="10%" style="text-align: center">
            </td>
            <td  width="40%" style="text-align: center"><hr>
            </td>
            <td width="5%" style="text-align: center">
            </td>
        </tr>
        <tr width="100%" style="height: 30px;margin-left: 0.2em">
            <td width="5%" style="text-align: center">
            </td>
            <td width="40%" style="text-align: center;font-size: 13px">Spagnol Locações de Containers

            </td>
            <td  width="10%" style="text-align: center">
            </td>
            <td  width="40%" style="text-align: center;font-size: 13px">{{ work.customer.corporate_name }}

            </td>
            <td width="5%" style="text-align: center">
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <p align="center" style="font-size: 13px">{{ work.crated_date|date:'d/m/Y' }}</p>

    </div>
</div>
</body>
</html>