{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% if customer %}Alterar Cliente {% else %}Cadastrar Cliente {% endif %}</h1>
            </div>
            <form enctype="multipart/form-data" class="user" action="submit" method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="customer_id" value="{{ customer.id }}" hidden>
              <div class="form-group ">
                <input type="text" class="form-control form-control-user text-center" id="corporate_name" name="corporate_name"
                  placeholder="Razão social" value="{{ customer.corporate_name }}">
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="state_registration" name="state_registration"
                    placeholder="I.E" value="{{ customer.state_registration }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="cnpj" name="cnpj"
                    placeholder="CNPJ" value="{{ customer.cnpj }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="phone" name="phone"
                    placeholder="Telefone Principal" value="{{ customer.phone }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="cellphone" name="cellphone"
                    placeholder="Telefone Secundário" value="{{ customer.cellphone }}">
                </div>
              </div>
              <hr>
              <div class="form-group row">
               <div class="col-sm-10 mb-3 mb-sm-0">
                    <input type="address" class="form-control form-control-user text-center" id="address" name="address"
                      placeholder="Endereço" value="{{ customer.address }}">
                </div>
               <div class="col-sm-2 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="address_number" name="address_number"
                    placeholder="Nº" value="{{ customer.address_number }}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="adjunct" name="adjunct"
                    placeholder="Complemento" value="{{ customer.adjunct }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="cep" name="cep"
                    placeholder="Cep" value="{{ customer.cep }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="neighborhood" name="neighborhood"
                    placeholder="Bairro" value="{{ customer.neighborhood }}">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control form-control-user text-center" id="city" name="city"
                    placeholder="Cidade" value="{{ customer.city }}">
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block">
                {% if customer %}Alterar {% else %}Cadastrar {% endif %}
              </button>
              <hr>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}