{% extends 'app/base.html' %}
{% block content %}
{% load static %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Clientes</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista de Empresas</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered display responsive nowrap" id="my_table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Razão Social</th>
                      <th>CNPJ</th>
                      <th>I.E</th>
                      <th>Telefone Principal</th>
                      <th>Telefone Secundário</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cust in customer %}
                    <tr>
                      <td><a href='../customer/{{ cust.id }}'>{{ cust.id }}</a></td>
                      <td>{{ cust.corporate_name }}</td>
                      <td>{{ cust.cnpj }}</td>
                      <td>{{ cust.state_registration }}</td>
                      <td>{{ cust.phone }}</td>
                      <td>{{ cust.cellphone }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>

    
  <script>

    $(document).ready( function () {
        $('#my_table').DataTable({
            responsive: {
                details: true
            },
            "order": [[ 0, "desc" ]],
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Não foram encontrados registros",
                "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registros",
                "infoEmpty": "Não foram encontrados registros",
                "infoFiltered": "(filtrados de um total de _MAX_ chamados)",
                "paginate": {
                    "first":      "Primeiro",
                    "last":       "Último",
                    "next":       "Próximo",
                    "previous":   "Anterior"
                },
                "search": "Buscar:"
            }
        })
    });

</script>

{% endblock %}
  <!-- Page level plugins -->
