{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% if customer %}Alterar Cliente {% else %}Cadastrar Cliente {% endif %}</h1>
            </div>
            <form enctype="multipart/form-data" class="user" action="submit" method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="customer_id" value="{{ customer.id }}" hidden>
              <div class="form-group ">
                <input type="text" class="form-control text-center" id="corporate_name" name="corporate_name" data-toggle="tooltip" title="Razão Social"
                  placeholder="Razão social" value="{{ customer.corporate_name }}">
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center" id="state_registration" name="state_registration" data-toggle="tooltip" title="I.E"
                    placeholder="I.E" value="{{ customer.state_registration }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center cnpj" id="cnpj" name="cnpj" data-toggle="tooltip" title="CNPJ"
                    placeholder="CNPJ" value="{{ customer.cnpj }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center phone_with_ddd" id="phone" name="phone" data-toggle="tooltip" title="Telefone Principal"
                    placeholder="Telefone Principal" value="{{ customer.phone }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center phone_with_ddd" id="cellphone" name="cellphone" data-toggle="tooltip" title="Telefone Secundário"
                    placeholder="Telefone Secundário" value="{{ customer.cellphone }}">
                </div>
              </div>
              <hr>
              <div class="form-group row">
               <div class="col-sm-10 mb-3 mb-sm-0">
                    <input type="address" class="form-control text-center" id="address" name="address" data-toggle="tooltip" title="Endereço"
                      placeholder="Endereço" value="{{ customer.address }}">
                </div>
               <div class="col-sm-2 mb-3 mb-sm-0">
                  <input type="number" class="form-control text-center" id="address_number" name="address_number" data-toggle="tooltip" title="Número"
                    placeholder="Nº" value="{{ customer.address_number }}" max="99999">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center" id="adjunct" name="adjunct" data-toggle="tooltip" title="Complemento"
                    placeholder="Complemento" value="{{ customer.adjunct }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center cep" id="cep" name="cep" data-toggle="tooltip" title="CEP"
                    placeholder="Cep" value="{{ customer.cep }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center" id="neighborhood" name="neighborhood" data-toggle="tooltip" title="Bairro"
                    placeholder="Bairro" value="{{ customer.neighborhood }}">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control text-center" id="city" name="city" data-toggle="tooltip" title="Cidade"
                    placeholder="Cidade" value="{{ customer.city }}">
                </div>
              </div>

              {% if customer %}
                  <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                          <button type="button" class="btn btn-secondary btn-user btn-block" data-toggle="modal" data-target="#note_modal">
                            Notas
                          </button>
                     </div>
                  </div>
              {% endif %}

              <button type="submit" class="btn btn-primary btn-user btn-block">
                {% if customer %}Alterar {% else %}Cadastrar {% endif %}
              </button>
              <hr>
            </form>
            <form enctype="multipart/form-data" class="user" action="notes/submit" method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="customer_id_note" value="{{ customer.id }}" hidden>
              <div class="modal" id="note_modal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h4 class="modal-title">Notas</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                      <h4><b>Notas</b></h4>

                        <!--<label><b>Descrição</b></label>-->

                        <div id="div-activitys">
                            {% for note in notes %}
                                <div class="row" id="12">
                                    <div id="div-sm1" class="col-sm-10 mb-10 mb-sm-0">
                                        <input class="form-control" id="id[]" name="id[]" type="hidden" value="{{ note.id }}" >
                                        <div class="form-group">
                                            <input class="form-control" id="name[]" name="name[]" type="text" value="{{ note.description }}" maxlength="250" data-toggle="tooltip" title="{{ note.description }}" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 mb-2 mb-sm-0">
                                        <button type="button" id="remove-activity-button" title="Excluir Nota" class="btn btn-danger glyphicon glyphicon-minus delete-activity-button"><b>-</b></button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                       <div class="form-group row">
                         <div class="col-sm-12 mb-12 mb-sm-0">
                            <button type="button" id="add-activity-button" class="btn  btn-secondary btn-user">Adicionar Nota</button>
                         </div>
                       </div>
                    </div>


                    <div class="modal-footer">
                      <div class="form-group row">
                        <div class="col-sm-12 mb-12 mb-sm-0">
                          <button type="submit" id="save-activity-button" class="btn btn-primary btn-user">Salvar</button>
                          <button type="button" class="btn btn-danger btn-user" data-dismiss="modal">Sair</button>
                         </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script id="activity-template" type="text/x-jsrender">
  {% verbatim %}
        <div class="row" id="">
            <div id="div-sm1" class="col-sm-10 mb-10 mb-sm-0">
                <input class="form-control" id="1" name="1" type="hidden" value="1" >
                <div class="form-group">
                    <input class="form-control validate" id="name[]" name="name[]" type="text" value="" maxlength="250" required>
                </div>
            </div>
            <div class="col-sm-2 mb-2 mb-sm-0">
                <button type="button" id="remove-activity-button" title="Excluir Nota" class="btn btn-danger glyphicon glyphicon-minus delete-activity-button"><b>-</b></button>
            </div>
        </div>
  {% endverbatim %}
</script>
<script src="{% static 'app/js/jsrender.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('#add-activity-button').on('click', function(e){
            var tmpl = $.templates("#activity-template");
//            components = {name: 'teste', id: '123' };
             var list = [];
            list.push({name: 'teste', id: '123' });
            list.push({name: 'teste2', id: '321' });
            components = {list: list};
            var html = tmpl.render(components);
            $("#div-activitys").append($(html));
        });
        $(document).on('click', '.delete-activity-button', function(e){
            $(this).parent().parent().remove();
        });
    });

</script>
{% endblock %}