{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Colaboradores</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Colaboradores</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered display responsive nowrap" id="my_table" width="100%" cellspacing="0">
          <thead>
            <tr >
              <th>Nome</th>
              <th>Matrícula</th>
              <th>CPF</th>
              <th>RG</th>
              <th>Data de Admissão</th>
              <th>Cargo</th>
            </tr>
          </thead>
          <tbody>
            {% for emp in employee %}
            <tr>
              <td><a href='../employee/{{ emp.id }}'>{{ emp.user.get_full_name }}</a></td>
              <td><a href='../employee/{{ emp.id }}'>{{ emp.external_id }}</a></td>
              <td class="cpf">{{ emp.cpf }}</td>
              <td class="rg">{{ emp.rg }}</td>
              <td>{{ emp.get_format_start_date }}</td>
              <td>{{ emp.position }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script>

    $(document).ready( function () {
        $('#my_table').DataTable({
            responsive: {
                details: true
            },
            "order": [[ 0, "desc" ]],
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Não foram encontrados registros",
                "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registros",
                "infoEmpty": "Não foram encontrados registros",
                "infoFiltered": "(filtrados de um total de _MAX_ chamados)",
                "paginate": {
                    "first":      "Primeiro",
                    "last":       "Último",
                    "next":       "Próximo",
                    "previous":   "Anterior"
                },
                "search": "Buscar:"
            }
        })
    });

</script>

{% endblock %}
<!-- Page level plugins -->