{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% if employee %}Alterar Colaborador {% else %}Cadastrar Colaborador {% endif %}</h1>
            </div>
            <form enctype="multipart/form-data" class="user" action="submit" method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="employee_id" value="{{ employee.id }}" hidden>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" class="form-control  text-center" id="first_name" name="first_name"  data-toggle="tooltip" title="Nome"
                      placeholder="Nome" value="{{ employee.user.first_name }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" class="form-control  text-center" id="last_name" name="last_name"  data-toggle="tooltip" title="Sobrenome"
                      placeholder="Sobrenome" value="{{ employee.user.last_name }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="date" class="form-control  text-center" id="start_date" name="start_date" data-toggle="tooltip" title="Data de Admissão"
                      placeholder="Data de Admissão" value="{{ employee.get_eng_start_date }}" >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="text" class="form-control  text-center rg" id="rg" name="rg"  data-toggle="tooltip" title="RG"
                    placeholder="RG" value="{{ employee.rg }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="text" class="form-control  text-center cpf" id="cpf" name="cpf"  data-toggle="tooltip" title="CPF"
                    placeholder="CPF" value="{{ employee.cpf }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0"  data-provide="datepicker">
                  <input type="date" class="form-control  text-center dates" id="birth_date" name="birth_date"  data-toggle="tooltip" title="Data de Nascimento"
                    placeholder="Data Nascimento" value="{{ employee.get_format_birth_date }}" required>
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="text" class="form-control  text-center phone_with_ddd" id="phone" name="phone"  data-toggle="tooltip" title="Telefone Principal"
                        placeholder="Telefone Principal" value="{{ employee.phone }}">
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="text" class="form-control  text-center phone_with_ddd" id="cellphone" name="cellphone"  data-toggle="tooltip" title="Telefone Secundário"
                        placeholder="Telefone Secundário" value="{{ employee.cellphone }}">
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="email" class="form-control  text-center" id="email" name="email"  data-toggle="tooltip" title="E-mail"
                        placeholder="E-mail" value="{{ employee.user.email }}">
                    </div>
              </div>
              <hr>
              <div class="form-group row">
               <div class="col-sm-10 mb-3 mb-sm-0">
                    <input type="address" class="form-control  text-center" id="address" name="address"  data-toggle="tooltip" title="Endereço"
                      placeholder="Endereço" value="{{ employee.address }}">
                </div>
               <div class="col-sm-2 mb-3 mb-sm-0">
                  <input type="number" class="form-control  text-center" id="address_number" name="address_number"  data-toggle="tooltip" title="Número"
                    placeholder="Nº" value="{{ employee.address_number }}" max="99999">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control  text-center" id="adjunct" name="adjunct"  data-toggle="tooltip" title="Complemento"
                    placeholder="Complemento" value="{{ employee.adjunct }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control  text-center cep" id="cep" name="cep"  data-toggle="tooltip" title="CEP"
                    placeholder="Cep" value="{{ employee.cep }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control  text-center" id="neighborhood" name="neighborhood"  data-toggle="tooltip" title="Bairro"
                    placeholder="Bairro" value="{{ employee.neighborhood }}">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control  text-center" id="city" name="city"  data-toggle="tooltip" title="Cidade"
                    placeholder="Cidade" value="{{ employee.city }}">
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                      <select class="form-control text-center" id="position" name="position"  data-toggle="tooltip" title="Cargo">
                        {% for p in position %}
                            <option value={{ p.id }} {% if p == employee.position %} selected {% endif %}>{{ p.name }}</option>
                        {% endfor %}
                      </select>

                </div>
               <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" class="form-control  text-center money" id="salary"  name="salary"  data-toggle="tooltip" title="Salário"
                      placeholder="Salário" value="{{ employee.salary | floatformat:2 }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="txt" class="form-control  text-center" id="external_id" name="external_id"  data-toggle="tooltip" title="Matrícula"
                    placeholder="Matrícula" value="{{ employee.external_id }}" required>
                </div>

              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block">
                {% if employee %}Alterar {% else %}Cadastrar {% endif %}
              </button>
              <hr>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script>

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}