{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% if media %}Alterar Imagem {% else %}Anexar Imagem {% endif %}</h1>
            </div>
            <form enctype="multipart/form-data" class="user" action="submit" method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="media_id" value="{{ media.id }}" hidden>

                <div class="form-group row">
                    <div class="col-sm-12 mb-12 mb-sm-0">
                        <input type="file" class="form-control-file border" name="media_file">
                    </div>
                </div>
                <div class="form-group row" align="center">
                    <div class="col-sm-12 mb-12 mb-sm-0 responsivo" align="center">
                            <img src="data:image/png;base64, {{ media.get_file }}" alt="{{ media.file_name}}" style="width:100%"/>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Anexar
                </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<style>
   .responsivo {
           max-width: 1080px;
           width: 100%;
           height: auto;
  }
  .responsivo img{
          max-width: 600px;   /* Máximo da largura da imagem */
          width: 100%;
          max-height: auto;  /* Máximo da altura da imagem */
          min-height: auto;      /* Mínimo da altura, por padrão “auto” */
          background-size:100%;
          background-repeat: no-repeat;
  }
</style>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}