<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>Mais Locações</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>

<div class="container">
    <div class="row">
            <p align="center" style="font-size: 16px"><b>Recibo de Pagamento</b></p>
            <p width="100%" style="font-size: 14px"><br>Recebi de <b>{{ pay.customer.corporate_name }}</b> inscrito no CPF/CNPJ sob o n°: {{ pay.customer.cnpj }} R.G/I.E n°: {{ pay.customer.ie }} a soma de R$ {{ pay.value }} como forma de pagamento de aluguel da equipamentos, para o período de {{ start_date|date:'d/m/Y' }} à {{ end_date|date:'d/m/Y' }} .<br><br>
Recebido por: _______________________________________ CPF n°: _____________________ em sua capacidade como ____________________________________. <br><br>
Forma de pagamento:<br>
( ) Dinheiro<br>
( )Cheque Visado n° ________________________ Banco: _______________________<br>
( )Transferências eletrônicas de fundos (TEF)<br>
( )Ordem de pagamento n° ____________ de ____/____/________<br>
( )*Cheque Pessoal n° _____________________________________<br><br><br>
    <br><br><br>
    <table >
        <tr width="100%" style="margin-left: 0.2em">
            <td width="30%" style="text-align: center">
            </td>
            <td width="40%" style="text-align: center"><hr>
            </td>
            <td  width="30%" style="text-align: center">
            </td>

        </tr>
        <tr width="100%" style="height: 30px;margin-left: 0.2em">
            <td width="30%" style="text-align: center">
            </td>
            <td width="40%" style="text-align: center;font-size: 13px">Spagnol Locações de Containers
            </td>
            <td  width="30%" style="text-align: center">
            </td>
            </td>

        </tr>
    </table>

    </div>
</div>
</body>
</html>