{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% if tools %}Alterar Ferramenta {% else %}Cadastrar Ferramenta {% endif %}</h1>
            </div>
            <form enctype="multipart/form-data" class="user" action="submit" method="POST">{% csrf_token %}
                <input type="number" class="form-control" name="tools_id" value="{{ tools.id }}" hidden>
              <div class="form-group ">
                <input type="text" class="form-control form-control-user text-center" id="name" name="name"
                  placeholder="Ferramenta" value="{{ tools.name }}">
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="external_id" name="external_id"
                    placeholder="Patrimônio" value="{{ tools.external_id }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="float" class="form-control form-control-user text-center" id="price" name="price"
                    placeholder="Custo" value="{{ tools.price }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="number" class="form-control form-control-user text-center" id="amount" name="amount"
                    placeholder="Quantidade" value="{{ tools.amount }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="number" class="form-control form-control-user text-center" id="voltage" name="voltage"
                    placeholder="Voltagem" value="{{ tools.voltage }}">
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block">
                {% if tools %}Alterar {% else %}Cadastrar {% endif %}
              </button>
              <hr>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}