{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Obras</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Obras</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered display responsive nowrap" id="my_table" width="100%" cellspacing="0">
          <thead>
            <tr >
              <th>CLIENTE</th>
              <th>lOCAÇÃO</th>
              <th>Descrição</th>
              <th>SITUAÇÃO</th>
              <th>PREVISÃO INÍCIO</th>
              <th>PREVISÃO FIM</th>
            </tr>
          </thead>
          <tbody>
            {% for work in works %}
            <tr>
              <td><a href='../work/{{ work.id }}'>{{ work.customer.corporate_name }}</a></td>
              <td><a href='../work/{{ work.id }}'>{{ work.id }}</a></td>
              <td>{{ work.description }}</td>
              <td>{% if work.finished %} Finalizada {% else %} Aberta {% endif %}</td>
              <td>{{ work.get_format_start_date }}</td>
              <td>{{ work.get_format_end_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script>

    $(document).ready( function () {
        $('#my_table').DataTable({
            responsive: {
                details: true
            },
            "order": [[ 1, "desc" ]],
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Não foram encontrados registros",
                "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registros",
                "infoEmpty": "Não foram encontrados registros",
                "infoFiltered": "(filtrados de um total de _MAX_ chamados)",
                "paginate": {
                    "first":      "Primeiro",
                    "last":       "Último",
                    "next":       "Próximo",
                    "previous":   "Anterior"
                },
                "search": "Buscar:"
            }
        })
    });

</script>

{% endblock %}
<!-- Page level plugins -->