{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
  <div class="modal fade" id="modal_finish_work" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Finalizar Locação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Deseja alterar essa locação para finalizada?</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" class="form-control work-id" id="work-id">
            <button type="button" class="btn btn-primary" onclick="finish_work({{ work.id }})">Sim</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal_pay" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Efetuar Pagamento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Deseja alterar essa fatura para paga?</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" class="form-control pay-order-id" id="pay-order-id">
            <button type="button" class="btn btn-primary" onclick="finish_pay_order()">Sim</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12" >
          <div class="p-5" >
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% if work %}Locação Nº {{ work.id}} - {% if work.finished %}<b>Finalizada</b>{% else %}<b>Aberta</b>{% endif %}{% else %}Criar Locação {% endif %}</h1>
            </div>

              <div id="alert_update" class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Sucesso!</strong> Alterações foram completadas. {{ alert }}
              </div>
            <form enctype="multipart/form-data" class="user" action="submit" method="POST" >{% csrf_token %}

                <input type="number" class="form-control" name="work_id" value="{{ work.id }}" hidden>
              <div class="form-group ">
                <input type="text" class="form-control text-center" id="description" name="description" data-toggle="tooltip" title="Descrição"
                  placeholder="Descrição" value="{{ work.description }}" required>
              </div>
              <div class="form-group row">
                <div class="col-sm-4 mb-4 mb-sm-0">
                      <select class="form-control text-center" id="customer" name="customer"  data-toggle="tooltip" title="Cliente" required>
                        <!--<option></option>-->
                        {% for customer in customers %}
                            <option value={{ customer.id }} {% if customer == work.customer %} selected {% endif %}>{{ customer.corporate_name }}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <input type="date" class="form-control  text-center" id="start_date" name="start_date" data-toggle="tooltip" title="Previsão de início"
                      placeholder="Previsão de início" value="{{ work.get_eng_start_date }}" required>
                </div>
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <input type="date" class="form-control  text-center" id="end_date" name="end_date" data-toggle="tooltip" title="Previsão de finalização"
                      placeholder="Previsão de finalização" value="{{ work.get_eng_end_date }}" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" maxlength="10" class="form-control  text-center money disable" id="sum_value" name="sum_value"  data-toggle="tooltip" title="Valor Total"
                    placeholder="Valor Total" value="{{ work.get_products_value_month }}" readonly>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" maxlength="10" class="form-control  text-center money" id="discount" name="discount" max="{{ work.get_products_value_month }}" data-toggle="tooltip" title="Valor Desconto"
                    placeholder="Valor Desconto" value="{{ work.discount }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" maxlength="10" class="form-control  text-center money" id="month_value" name="month_value"  data-toggle="tooltip" title="Valor com Desconto"
                    placeholder="Valor com Desconto" value="{{ work.month_value }}" readonly>
                </div>
                <div class="col-sm-3">
                  <input type="date" class="form-control text-center" id="first_due_date" name="first_due_date" data-toggle="tooltip" title="Primeiro Vencimento"
                    placeholder="Primeiro Vencimento" value="{{ work.get_eng_first_due_date }}" min="{{ work.get_eng_start_date }}" required>
                </div>
              </div>
              <hr>
              <div class="form-group row">
               <div class="col-sm-10 mb-3 mb-sm-0">
                    <input type="address" class="form-control text-center" id="address" name="address" data-toggle="tooltip" title="Endereço"
                      placeholder="Endereço" value="{{ work.address }}" required>
                </div>
               <div class="col-sm-2 mb-3 mb-sm-0">
                  <input type="number" class="form-control text-center" id="address_number" name="address_number" data-toggle="tooltip" title="Número"
                    placeholder="Nº" value="{{ work.address_number }}" max="99999">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center" id="adjunct" name="adjunct" data-toggle="tooltip" title="Complemento"
                    placeholder="Complemento" value="{{ work.adjunct }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center cep" id="cep" name="cep" data-toggle="tooltip" title="CEP"
                    placeholder="Cep" value="{{ work.cep }}">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control text-center" id="neighborhood" name="neighborhood" data-toggle="tooltip" title="Bairro"
                    placeholder="Bairro" value="{{ work.neighborhood }}">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control text-center" id="city" name="city" data-toggle="tooltip" title="Cidade"
                    placeholder="Cidade" value="{{ work.city }}">
                </div>
              </div>
                <hr>

                  <div class="form-group row">
                    {% if work %}
                        <div class="col-sm-3 mb-3 mb-sm-0">
                              <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#employees_modal" {% if work.finished %}disabled{% endif %}>
                                Alocar Produtos
                              </button>
                         </div>
                        <!-- <div class="col-sm-3 mb-3 mb-sm-0">
                              <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#employees_modal">
                                Alocar Ferramentas
                              </button>
                         </div>
                        <div class="col-sm-3 mb-3 mb-sm-0">
                              <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#employees_modal">
                                Adicionar Atividade
                              </button>
                         </div> -->
                        <div class="col-sm-3 mb-3 mb-sm-0">
                              <button type="submit" class="btn btn-primary btn-block">
                                {% if work %}Alterar {% else %}Cadastrar {% endif %}
                              </button>
                         </div>
                        {% if not work.finished %}
                        <div class="col-sm-3 mb-3 mb-sm-0">
                              <button type="button" class="btn btn-primary btn-block btn-finish" data-toggle="modal"  data-target="#modal_finish_work">
                                Finalizar Locação
                              </button>
                         </div>
                        {% endif %}
                        <div class="col-sm-3 mb-3 mb-sm-0">
                          <a href="/contract/{{ work.id }}" class="btn btn-primary btn-block" target="_blank">
                            Gerar Contrato
                          </a>
                        </div>
                    {% else %}
                          <div class="col-sm-4 mb-4 mb-sm-0">
                          </div>
                          <div class="col-sm-4 mb-4 mb-sm-0">
                              <button type="submit" class="btn btn-primary btn-block">
                                {% if work %}Alterar {% else %}Cadastrar {% endif %}
                              </button>
                         </div>
                         <div class="col-sm-4 mb-4 mb-sm-0 text-center">
                         </div>
                   {% endif %}
                  </div>

                <hr>
              <!--<button type="submit" class="btn btn-primary btn-block">-->
                <!--{% if work %}Alterar {% else %}Cadastrar {% endif %}-->
              <!--</button>-->

            </form>
          {% if work %}
              <div class="row">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Pagamentos</h1>
                    </div>
                  </div>
                </div>
               <div class="col-lg-12">
                   <table class="table table-bordered display responsive nowrap" id="my_table" width="100%" cellspacing="0">
                      <thead>
                        <tr >
                          <th>Vencimento</th>
                          <th>Valor</th>
                          <th>Status</th>
                          <th>Ação</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in pay_order %}
                        <tr>
                          <td>{{ p.due_date|date:'d/m/Y' }}</td>
                          <td>{{ p.value }}</td>
                          <td>{% if p.status == 1 %}Pendente{% else %}Pago{% endif %}</td>
                          {% if p.status == 1 %}
                            <td style="width: 20%;">
                                <div class="row"><div class="col-sm-6 mb-6 mb-sm-12">
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_pay" data-pay-order-id="{{ p.id }}">Pagar</button>
                                </div>
                                    <div class="col-sm-6 mb-6 mb-sm-12">
                                        <a href="/receipt/{{ p.id }}" class="btn btn-primary btn-block" target="_blank">Recibo</a>
                                    </div>
                                </div>
                            </td>
                          {% else %}
                              <td><a href="/receipt/{{ p.id }}" class="btn btn-primary btn-block" target="_blank">Recibo</a></td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
               </div>
              </div>
            {% endif %}
            <form enctype="multipart/form-data" class="user" action="/work/product/submit" method="POST" >{% csrf_token %}
                <input type="number" class="form-control" name="work_id_we" value="{{ work.id }}" hidden>
              <div class="modal fade bd-example-modal-lg" id="employees_modal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h4 class="modal-title">Alocar Produtos</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                      <h4><b>Produtos</b></h4>

                        <!--<label><b>Descrição</b></label>-->

                        <div id="div-activitys">
                            {% if product_work %}
                                {% for po in product_work %}
                                    <div class="row" id="12">
                                        <div id="div-sm1" class="col-sm-6 mb-6 mb-sm-0">
                                            <input class="form-control" id="id[]" name="id[]" type="hidden" value="{{ po.product.id }}" >
                                            <div class="form-group">
                                              <select class="form-control text-center" id="name[]" name="name[]">
                                                    <option value={{ po.product.id }}>{{ po.product.num}} - {{ po.product.desc }}</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div id="div-sm1" class="col-sm-4 mb-4 mb-sm-0">
                                            <input type="text" maxlength="10" class="form-control  text-center money field-rent-value" id="price" name="price[]"  data-toggle="tooltip" title="Valor Aluguel"
                                             placeholder="Valor Aluguel" value="{{ po.value }}">
                                        </div>

                                        <div class="col-sm-2 mb-2 mb-sm-0">
                                            <button type="button" id="remove-activity-button" title="Excluir Produto" class="btn btn-danger glyphicon glyphicon-minus delete-activity-button"><b>-</b></button>
                                        </div>
                                    </div>

                                {% endfor %}


                            {% endif %}
                        </div>
                       <div class="form-group row">
                         <div class="col-sm-12 mb-12 mb-sm-0 text-center">
                            <button type="button" id="add-activity-button" class="btn  btn-primary ">Adicionar</button>
                         </div>
                       </div>
                    </div>


                    <div class="modal-footer">
                      <div class="form-group row">
                        <div class="col-sm-12 mb-12 mb-sm-0">
                          <button type="submit" id="save-activity-button" class="btn btn-success" >Salvar</button>
                          <button type="button" class="btn btn-danger " data-dismiss="modal">Sair</button>
                         </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



{% endblock %}

{% block scripts %}
<script id="activity-template" type="text/x-jsrender">
  {% verbatim %}
        <div class="row" id="">
            <div id="div-sm1" class="col-sm-6 mb-6 mb-sm-0">
                <input class="form-control" id="1" name="1" type="hidden" value="1" >
                <div class="form-group">
                    <select class="form-control text-center" d="name[]" name="name[]" required>
                        {{for products}}
                            <option value="{{:id }}">{{:num}} - {{:desc }}</option>
                        {{/for}}
                    </select>
                </div>
            </div>
            <div id="div-sm1" class="col-sm-4 mb-4 mb-sm-0">
                <input type="text" maxlength="10" class="form-control  text-center money field-rent-value" id="price" name="price[]"  data-toggle="tooltip" title="Valor Aluguel"
                 placeholder="Valor Aluguel" value="">
            </div>

            <div class="col-sm-2 mb-2 mb-sm-0">
                <button type="button" id="remove-activity-button" title="Excluir Produto" class="btn btn-danger glyphicon glyphicon-minus delete-activity-button"><b>-</b></button>
            </div>
        </div>
  {% endverbatim %}
</script>
<script src="{% static 'app/js/jsrender.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#alert_update").hide();
        $('[data-toggle="tooltip"]').tooltip();
        $('#add-activity-button').on('click', function(e){
            $.ajax({
                url: "/product/get_free/",
                type: "GET",
                success: function (json) {
                    var tmpl = $.templates("#activity-template");
                    console.log(json);
                    //components = {"employess": employees};
                    var html = tmpl.render(json);
                    $("#div-activitys").append($(html));
                    $('.money').mask('000.000.000.000.000,00', {reverse: true});
                }
        });
            var tmpl = $.templates("#activity-template");
//            components = {name: 'teste', id: '123' };
            //var employess = "{{ employess }}";
            //console.log({{ employess }});
            //components = {"employess": employess};
            //var html = tmpl.render();
            //$("#div-activitys").append($(html));
        });
        $(document).on('click', '.delete-activity-button', function(e){
            $(this).parent().parent().remove();
        });

        const params = new URLSearchParams(document.location.search);
        const show_alert = params.get("a");
        if (show_alert) {
            $("#alert_update").show();
        };
        $('#my_table').DataTable({
            responsive: {
                details: true
            },
            "order": [],
            "lengthChange": false,
            "searching": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Não foram encontrados registros",
                "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registros",
                "infoEmpty": "Não foram encontrados registros",
                "infoFiltered": "(filtrados de um total de _MAX_ chamados)",
                "paginate": {
                    "first":      "Primeiro",
                    "last":       "Último",
                    "next":       "Próximo",
                    "previous":   "Anterior"
                },
                "search": "Buscar:"
            }
        });

    });
    function finish_work(work_id){
           window.location.href = "/finish-work/?id=" + work_id;
    }
    $('#modal_pay').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var pay_order_id = button.data('pay-order-id') // Extract info from data-* attributes

      var modal = $(this)
      modal.find('.pay-order-id').val(pay_order_id)
    });
    function finish_pay_order(){
       var modal = $("#modal_pay")
       var pay_order_id = modal.find('.pay-order-id').val();
       window.location.href = "/pay-order/finish?id=" + pay_order_id;
    }
    $('#start_date').on('change', function(e){
        $('#first_due_date').val($(this).val());
        $("#first_due_date").attr("min", $(this).val())
    });
</script>
{% endblock %}