{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Cadastrar Cliente</h1>
            </div>
            <form class="user">
              <div class="form-group ">
                <input type="email" class="form-control form-control-user text-center" id="exampleInputEmail"
                  placeholder="Razão social">
              </div>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="exampleFirstName"
                    placeholder="I.E">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="exampleLastName"
                    placeholder="Cnpj">
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user text-center" id="exampleFirstName"
                        placeholder="Telefone Principal">
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user text-center" id="exampleLastName"
                        placeholder="Telefone Secundário">
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user text-center" id="exampleLastName"
                        placeholder="Telefone Secundário">
                    </div>
              </div>
              <hr>
              <div class="form-group">
                <input type="address" class="form-control form-control-user text-center" id="exampleInputAdress"
                  placeholder="Endereço">
              </div>
              <div class="form-group row">
                <div class="col-sm-1 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="exampleFirstName"
                    placeholder="Nº">
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="exampleFirstName"
                    placeholder="Complemento">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control form-control-user text-center" id="exampleLastName"
                    placeholder="Cep">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="exampleFirstName"
                    placeholder="Bairro">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control form-control-user text-center" id="exampleLastName"
                    placeholder="Cidade">
                </div>
              </div>

              <hr>

              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user text-center" id="exampleInputPassword"
                    placeholder="Função">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="txt" class="form-control form-control-user text-center" id="exampleRepeatPassword"
                    placeholder="Privilégios Sistema">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="txt" class="form-control form-control-user text-center" id="exampleRepeatPassword"
                      placeholder="Salário">
                  </div>
              </div>
              <a href="#" class="btn btn-primary btn-user btn-block">
                Cadastrar
              </a>
              <hr>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}