{% extends 'app/base.html' %}
{% block content %}
{% load static %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="modal fade" id="modal_renew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Prorrogar Locação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="end-date" class="col-form-label">Novo Encerramento:</label>
                <input type="date" class="form-control end-date" id="end-date">
                <input type="hidden" class="form-control old-finish-date" id="old-finish-date">
                  <input type="hidden" class="form-control work-id" id="work-id">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="renew_work()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal_pay" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Efetuar Pagamento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Deseja alterar essa fatura para paga?</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" class="form-control pay-order-id" id="pay-order-id">
            <button type="button" class="btn btn-primary" onclick="finish_pay_order()">Sim</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal_finish_work" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Finalizar Locação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Deseja alterar essa locação para finalizada?</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" class="form-control work-id" id="work-id">
            <button type="button" class="btn btn-primary" onclick="finish_work()">Sim</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal_success_renew" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sucesso</h5>
          </div>
          <div class="modal-body">
            <p>O fim da locação foi prorrogado com sucesso!</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" class="form-control pay-order-id" id="pay-order-id">
            <button type="button" class="btn btn-primary" data-dismiss="modal" >Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

        <div class="col-lg-6 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Locações Encerrando</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered display responsive nowrap" id="my_table" width="100%" cellspacing="0">
                      <thead>
                        <tr >
                          <th>Nº</th>
                          <th>Descrição</th>
                          <th>Data Fim</th>
                          <th>Renovar</th>
                          <th>Finalizar</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for w in work %}
                        <tr>
                          <td><a href='../work/{{w.id}}'>{{ w.id }}</a></td>
                          <td>{{ w.description }}</td>
                          <td>{{ w.end_date|date:'d/m/Y' }}</td>
                          <td><button type="button" class="btn btn-primary btn-block " data-toggle="modal" title="Renovar" data-target="#modal_renew" data-work-id="{{ w.id }}" data-finish-date="{{ w.end_date|date:'Y-m-d' }}"><i class="fa fa-redo-alt"></i></button></td><td>
                          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" title="Finalizar" data-target="#modal_finish_work" data-work-id="{{ w.id }}"><i class="fa fa-check"></i></button></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

        </div>


        <div class="col-lg-6 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Pagamentos Vencendo</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered display responsive nowrap" id="my_table2" width="100%" cellspacing="0">
                      <thead>
                        <tr >
                          <th>Locação</th>
                          <th>Cliente</th>
                          <th>Vencimento</th>
                          <th>Valor</th>
                          <th>Ação</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in pay_order %}
                        <tr>
                          <td><a href='../work/{{p.work.id}}'>{{ p.work.id }}</a></td>
                          <td>{{ p.customer.corporate_name }}</td>
                          <td>{{ p.due_date|date:'d/m/Y' }}</td>
                          <td>{{ p.value }}</td>
                          <td><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_pay" data-pay-order-id="{{ p.id }}">Pagar</button></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>

    </div>
</div>
<script>

$(document).ready( function () {
    $('#my_table').DataTable({
        responsive: {
            details: true
        },
        "lengthChange": false,
        "order": [],
        "language": {
            "lengthMenu": "Mostrando _MENU_ registros por página",
            "zeroRecords": "Não foram encontrados registros",
            "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registros",
            "infoEmpty": "Não foram encontrados registros",
            "infoFiltered": "(filtrados de um total de _MAX_ chamados)",
            "paginate": {
                "first":      "Primeiro",
                "last":       "Último",
                "next":       "Próximo",
                "previous":   "Anterior"
            },
            "search": "Buscar:"
        }
    });
    $('#my_table2').DataTable({
        responsive: {
            details: true
        },
        "order": [],
        "lengthChange": false,
        "language": {
            "lengthMenu": "Mostrando _MENU_ registros por página",
            "zeroRecords": "Não foram encontrados registros",
            "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registros",
            "infoEmpty": "Não foram encontrados registros",
            "infoFiltered": "(filtrados de um total de _MAX_ chamados)",
            "paginate": {
                "first":      "Primeiro",
                "last":       "Último",
                "next":       "Próximo",
                "previous":   "Anterior"
            },
            "search": "Buscar:"
        }
    })

    $('#modal_pay').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var pay_order_id = button.data('pay-order-id') // Extract info from data-* attributes

      var modal = $(this)
      modal.find('.pay-order-id').val(pay_order_id)
    });
    $('#modal_finish_work').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var work_id = button.data('work-id') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('.work-id').val(work_id)
    });
    $('#modal_renew').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var work_id = button.data('work-id') // Extract info from data-* attributes
      var finish_date = button.data('finish-date')
      var modal = $(this)
      $("#end-date").attr("min", finish_date)
      modal.find('.work-id').val(work_id)
      modal.find('.old-finish-date').val(finish_date)
    });
    $('#modal_success_renew').on('hidden.bs.modal', function () {
        window.location.reload();
    })
});
   function finish_pay_order(){
       var modal = $("#modal_pay")
       var pay_order_id = modal.find('.pay-order-id').val();
       window.location.href = "/pay-order/finish?id=" + pay_order_id;
    }

   function finish_work(){
       var modal = $("#modal_finish_work")
       var work_id = modal.find('.work-id').val();
       window.location.href = "/finish-work/?id=" + work_id;
    }

   function renew_work(){
       var modal = $("#modal_renew")
       var work_id = modal.find('.work-id').val();
       var end_date = modal.find('.end-date').val();
       if (end_date == ''){
           alert('Favor informar uma data.')
       }else{
           $.ajax({
                url: "/work-renew/",
                type: "POST",
                data: { work_id: work_id, end_date: end_date },
                success: function (json) {
                    $("#modal_renew").toggle();
                    $("#modal_success_renew").modal('show')
                }
           });
       }

{#       window.location.href = "/finish-work/?id=" + work_id;#}

               //window.location.href = "/finish-work/?id=" + work_id;

        //window.location.href = "/finish-work/?id=" + work_id;
    }

</script>
{% endblock %}